:root { 
--orange_50_a2:#f5f5dca2; 
--gray_400:#bcbcbc; 
--white_A700_0c:#ffffff0c; 
--gray_800:#424242; 
--gray_900:#1b1b1b; 
--gray_200_b2:#f2f1f1b2; 
--orange_300:#ffb74d; 
--orange_50:#f5f5dc; 
--black_900_33:#00000033; 
--black_900:#000000; 
--gray_400_01:#b6b6b6; 
--blue_100:#c8e8f7; 
--white_A700:#ffffff; 
}